@import url('./../fonts/poppins.css');

$poppins: 'Poppins', sans-serif;
$green: #46d1a9;
$parrotGreen: #90d401;
$lightGrey: #e0e4f2;
$formTextColor: #7985af;
$black: #0a2034;
$lightPurple: #5b73e1;
$buttonGredient: linear-gradient(to bottom, $green, $parrotGreen);
body {
    font-family: $poppins;
}
.theme-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    .theme_menu {
        position: absolute;
        inset: 65px 80px auto auto;
        z-index: 9999;
        @media screen and (max-width: 550px) {
            inset: 2vw 3vw auto auto;
        }
        .menu_inner {
            position: relative;
            button {
                width: 60px;
                height: 48px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                @media screen and (max-width: 550px) {
                    width: 15vw;
                    height: 4vw;
                    z-index: 5;
                }
                &.active {
                    @media screen and (max-width: 550px) {
                        z-index: 5;
                        span {
                            background: #fff;
                        }
                    }
                    ~ .menu_list {
                        right: 10px;
                        opacity: 1;
                        @media screen and (max-width: 550px) {
                            width: 100%;
                            right: 0;
                            position: fixed;
                            height: 100%;
                            border-radius: 0;
                            top: 0;
                            margin-top: 0;
                            z-index: 4;
                        }
                    }
                }

                &:focus {
                    box-shadow: none;
                }
                span {
                    display: block;
                    position: absolute;
                    height: 11px;
                    width: 100%;
                    background: $black;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: 0.35s ease-in-out;
                    -moz-transition: 0.35s ease-in-out;
                    -o-transition: 0.35s ease-in-out;
                    transition: 0.35s ease-in-out;
                    @media screen and (max-width: 550px) {
                        height: 2vw;
                    }
                    &:nth-child(1) {
                        top: 0px;
                    }

                    &:nth-child(2) {
                        top: 16px;
                        @media screen and (max-width: 550px) {
                            top: 3vw;
                        }
                    }

                    &:nth-child(3) {
                        top: 32px;
                        @media screen and (max-width: 550px) {
                            top: 6vw;
                        }
                    }
                }
                &.active {
                    span {
                        &:nth-child(1) {
                            top: 18px;
                            -webkit-transform: rotate(135deg);
                            -moz-transform: rotate(135deg);
                            -o-transform: rotate(135deg);
                            transform: rotate(135deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            left: 150px;
                        }

                        &:nth-child(3) {
                            top: 18px;
                            -webkit-transform: rotate(-135deg);
                            -moz-transform: rotate(-135deg);
                            -o-transform: rotate(-135deg);
                            transform: rotate(-135deg);
                        }
                    }
                }
            }

            .menu_list {
                width: 430px;
                height: 550px;
                background-color: $black;
                position: absolute;
                top: auto;
                margin-top: 15px;
                right: -800px;
                border-radius: 10px;
                -webkit-transition: 0.35s ease-in-out;
                -moz-transition: 0.35s ease-in-out;
                -o-transition: 0.35s ease-in-out;
                transition: 0.35s ease-in-out;
                opacity: 0;
                @media screen and (max-width: 800px) {
                    width: 300px;
                    height: 440px;
                }
                @media screen and (max-width: 550px) {
                    top: 13vw;
                    width: 100vw;
                }
                .profileImg {
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 800px) {
                        height: 140px;
                    }
                    img {
                        max-width: 100px;
                        margin: auto;
                        @media screen and (max-width: 800px) {
                            max-width: 70px;
                        }
                    }
                }
                ul {
                    li {
                        padding: 1rem 3rem;
                        &:hover {
                            background-color: whitesmoke;
                            a {
                                color: $black;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: whitesmoke;

                            font-size: 2rem;
                            @media screen and (max-width: 800px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .main_logo_div {
        text-align: center;
        padding: 0 20px;
        max-width: 618px;
        max-height: 88.93px;
        margin: auto;
        margin-top: 152px;
        @media screen and (max-width: 550px) {
            margin-top: 20vw;
        }
        img {
            object-fit: contain;
            max-width: 100%;
            height: auto;
        }
    }

    .absoluteImgOne {
        position: absolute;
        top: -47px;
        right: -116px;
        @media screen and (max-width: 550px) {
            top: -5vw;
            right: -39vw;
        }
        img {
            max-width: 100%;
            height: auto;
            @media screen and (max-width: 550px) {
                height: 60vw;
            }
        }
    }

    .absoluteImgTwo {
        position: absolute;
        top: 238.9px;
        left: -103px;
        @media screen and (max-width: 550px) {
            top: 35vw;
            left: -15vw;
        }
        img {
            max-width: 100%;
            height: auto;
            @media screen and (max-width: 550px) {
                height: 40vw;
            }
        }
    }
    div.formsHeading {
        text-align: center;
        h1 {
            font-size: 47px;

            font-weight: 600;
            line-height: 108px;
            text-transform: uppercase;
            color: $black;
        }
    }

    // landing page css
    section.buttonsSection {
        position: relative;
        z-index: 3;
        padding-top: 329px;

        @media screen and (max-width: 550px) {
            padding-top: 50vw;
        }
        .actionButtonsLists {
            max-width: 686px;
            margin: auto;

            @media screen and (max-width: 900px) {
                max-width: 500px;
            }
            @media screen and (max-width: 550px) {
                padding: 0 20px;
            }
            a {
                font-size: 45px;
                font-weight: 500;
                width: 100%;
                color: white;
                background: $buttonGredient;
                border-radius: 20px;
                height: 183px;
                padding: 58px 70px;
                text-decoration: none;
                position: relative;
                text-transform: capitalize;
                @media screen and (max-width: 900px) {
                    font-size: 35px;
                    padding: 42px 30px;
                    height: 136px;
                }
                @media screen and (max-width: 550px) {
                    font-size: 5vw;
                    height: 22vw;
                    padding: 7.3vw 8vw;
                    border-radius: 4vw;
                }
                img {
                    position: absolute;
                    max-width: 100%;
                    height: auto;
                }
            }
            .RegisterButton {
                text-align: left;
                img {
                    top: -112px;
                    right: 28.5px;
                    @media screen and (max-width: 900px) {
                        top: -90px;
                        max-width: 27%;
                    }
                    @media screen and (max-width: 550px) {
                        height: 36vw;
                        top: -16.5vw;
                    }
                }
            }
            .loginButton {
                margin-top: 140px;
                @media screen and (max-width: 550px) {
                    margin-top: 13vw;
                }
                img {
                    top: -62px;
                    left: 5.4px;
                    @media screen and (max-width: 900px) {
                        max-width: 32%;
                        top: -52px;
                    }
                    @media screen and (max-width: 550px) {
                        height: 33vw;
                        top: -11.5vw;
                    }
                }
            }
            .QRButton {
                margin-top: 100px;
                text-align: left;
                @media screen and (max-width: 550px) {
                    margin-top: 10vw;
                }
                img {
                    top: -62px;
                    right: 5.4px;
                    @media screen and (max-width: 900px) {
                        max-width: 32%;
                        top: -40px;
                        right: 9.4px;
                    }
                    @media screen and (max-width: 550px) {
                        height: 25vw;
                        top: -6vw;
                    }
                }
            }
        }
    }

    // registration page css
    section.FormSection {
        margin: auto;
        margin-top: 73px;
        position: relative;
        z-index: 3;
        max-width: 813px;
        padding: 0 20px;

        form.form-row {
            margin-top: 65px;
            div.form-group {
                position: relative;

                font-weight: 400;
                &:not(:first-child) {
                    margin-top: 30px;
                }
                input.form-control {
                    border: 0;
                    border-radius: 0;
                    border-bottom: 4px solid $lightGrey;
                    height: 62px;
                    font-size: 29px;
                    color: $formTextColor;
                    &::placeholder {
                        color: transparent;
                    }
                    &:focus {
                        color: $black;
                        background-color: #fff;
                        border-color: inherit;
                        outline: 0;
                        box-shadow: none;
                        & ~ label {
                            top: 0;
                            font-size: 20px;
                        }
                    }
                    & ~ label {
                        position: absolute;
                        top: 30px;
                        transform: translateY(-50%);
                        font-size: 29px;
                        color: $formTextColor;
                        transition: all 0.25s ease-in-out;
                    }
                    &:not(:placeholder-shown) {
                        & ~ label {
                            top: 0;
                            font-size: 20px;
                        }
                    }

                    @media screen and (max-width: 767px) {
                        height: 40px;
                        font-size: 15px;
                        & ~ label {
                            font-size: 15px;
                            top: 20px;
                        }
                        &:not(:placeholder-shown) {
                            & ~ label {
                                top: 0;
                                font-size: 12px;
                            }
                        }
                        &:focus {
                            & ~ label {
                                top: 0;
                                font-size: 12px;
                            }
                        }
                    }
                }
                button {
                    width: 405px;
                    height: 111px;
                    background: $buttonGredient;
                    color: #fff;
                    font-size: 30px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    border-radius: 20px;
                    margin-top: 80px;
                    @media screen and (max-width: 767px) {
                        width: 30vw;
                        height: 12vw;
                        border-radius: 5vw;
                        font-size: 4vw;

                        margin: auto;
                        margin-top: 4vw;
                    }
                }
            }

            .loginText {
                text-align: center;
                margin-top: 50px;
                p {
                    color: $formTextColor;
                    font-size: 32px;

                    font-weight: 500;
                    a {
                        color: $lightPurple;
                        text-decoration: none;
                    }

                    @media screen and (max-width: 767px) {
                        font-size: 3vw;
                    }
                }
            }
        }
    }

    section.FormSection.QRSection {
        @media screen and (min-height: 1920px) {
            margin-bottom: 22vw;
        }
    }

    .testSection {
        margin-top: 73px;
        .testsContainer {
            padding-left: 15px;
            padding-right: 15px;
            max-width: 840px;
            margin: 66px auto auto;
            position: relative;
            z-index: 3;

            .g-5,
            .gx-5 {
                --bs-gutter-x: 2rem;
            }
            .g-5,
            .gy-5 {
                --bs-gutter-y: 2rem;
            }

            .card {
                height: 100%;
                @media screen and (max-width: 692px) {
                    max-width: 300px;
                    margin: auto;
                }
                .testImage {
                    height: 254px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid #cfd6e8;
                    img {
                        max-width: 165px;
                        object-fit: contain;
                    }
                }
                .card-body {
                    font-weight: 500;
                    h5 {
                        color: $black;
                        font-size: 20px;
                        letter-spacing: 1px;
                        @media screen and (max-width: 692px) {
                            font-size: 15px;
                        }
                    }
                    p {
                        color: $formTextColor;
                        font-size: 16px;
                        letter-spacing: 1px;
                        @media (min-width: 693px) and (max-width: 800px) {
                            font-size: 13px;
                        }
                        @media screen and (max-width: 692px) {
                            font-size: 10px;
                        }
                    }

                    .priceTime {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 15px 0;
                        flex-wrap: wrap;
                        h5 {
                            color: $parrotGreen;
                            font-size: 27px;
                            margin-bottom: 0;
                            @media screen and (max-width: 767px) {
                                font-size: 15px;
                            }
                        }
                        p {
                            color: $formTextColor;
                            font-size: 14px;
                            margin-bottom: 0;
                            span {
                                color: $lightPurple;
                            }
                            @media screen and (max-width: 767px) {
                                font-size: 10px;
                            }
                        }
                    }
                    a.btn {
                        background: $buttonGredient;
                        margin-bottom: 10px;
                        color: white;
                        max-width: 110px;
                        margin-left: auto;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .checkOutSection {
        margin-top: 73px;
        position: relative;
        z-index: 3;

        @media screen and (min-height: 1600px) {
            height: 793px;
            overflow: hidden;
        }

        .tableBox {
            max-width: 950px;
            margin: auto;
            padding: 0 15px;

            background-color: #fff;
            .flexTable {
                border: 1px solid $lightGrey;
                .tableHeading {
                    display: flex;
                    height: 68px;
                    align-items: center;

                    padding: 0 35px;

                    position: sticky;
                    top: -5px;
                    background: white;

                    p {
                        margin-bottom: 0;
                        font-size: 20px;
                        color: $lightPurple;
                        font-weight: 600;
                        @media only screen and (max-width: 767px) {
                            font-size: 16px;
                        }
                        &:first-child {
                            flex: 0 0 60%;
                        }
                        &:not(:first-child) {
                            flex: 0 0 20%;
                            @media only screen and (max-width: 767px) {
                                flex: 0 0 35%;
                                background-color: #fff;
                                padding: 20px 0;
                            }
                        }
                    }
                }

                .tableBody {
                    max-height: 370px;

                    .tableRow {
                        display: flex;
                        padding: 0 35px;
                        background-color: #f5f6ff;
                        height: 68px;
                        align-items: center;
                        p {
                            margin-bottom: 0;
                            font-size: 16px;
                            color: $formTextColor;
                            font-weight: 500;
                            &:first-child {
                                flex: 0 0 60%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            &:not(:first-child) {
                                flex: 0 0 20%;
                                @media only screen and (max-width: 767px) {
                                    flex: 0 0 35%;
                                    background-color: #f5f6ff;
                                    padding: 16px 0;
                                }
                            }
                        }
                        button {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background: $buttonGredient;
                            font-size: 15px;
                            color: white;
                            opacity: 1;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            line-height: 0;
                        }
                    }
                }
            }

            .tableTotalbox {
                margin: 34px 0;
                .tableRow {
                    display: flex;
                    padding: 0 35px;

                    p {
                        color: $formTextColor;
                        font-size: 18px;
                        font-weight: normal;
                        &:first-child {
                            flex: 0 0 60%;
                            text-align: right;
                            padding-right: 48px;
                        }
                    }
                }
            }
        }

        .paymentButton {
            max-width: 950px;
            margin: auto;
            padding: 0 15px;
            text-align: end;
            button {
                background: $buttonGredient;
                color: white;
                max-width: 405px;
                width: 100%;
                height: 111px;
                font-size: 30px;
                font-weight: 600;
                border-radius: 20px;
                margin-left: auto;
                @media only screen and (max-width: 767px) {
                    max-width: 200px;
                    height: 60px;
                    font-size: 15px;
                }
            }
        }
    }

    .codeSearchSection {
        margin-top: 73px;
    }

    .addResultSection {
        @media (min-height: 1600px) {
            height: 793px;
        }
        .formsHeading {
            h1 {
                @media screen and (max-width: 767px) {
                    font-size: 7vw;
                }
            }
        }
        button {
            background: $buttonGredient;
            width: 405px;
            height: 111px;
            font-size: 30px;
            font-weight: 600;
            color: white;
            border-radius: 20px;
            margin-top: 80px;
            @media screen and (max-width: 767px) {
                width: 200px;
                height: 60px;
                font-size: 18px;
                margin-top: 30px;
            }
        }
    }

    .codeResultSection {
        margin-top: 73px;
        position: relative;
        z-index: 5;
        @media screen and (height: 1920px) {
            min-height: 793px;
        }
        .codeResulttable {
            max-width: 920px;
            margin: auto;
            border: 1px solid $lightGrey;
            table {
                font-weight: 500;
                font-family: $poppins;
                &:not(caption) > * > * {
                    background-color: white;
                }
                tr {
                    td,
                    th {
                        padding: 1rem 0;
                        color: $formTextColor;
                        font-size: 16px;
                        font-weight: 500;
                        &:first-child {
                            padding-left: 30px;
                        }
                        &:last-child {
                            padding-right: 30px;
                        }
                        @media (max-width: 767px) {
                            font-size: 12px;
                        }
                    }
                    th {
                        color: $lightPurple;
                        padding: 1rem 0;
                        font-size: 20px;
                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                    }
                    td {
                        @media (max-width: 800px) {
                            min-width: 150px;
                        }
                        .d-flex {
                            p {
                                flex: 1 1 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }

    // profile
    .profileSection {
        margin-top: 73px;
        position: relative;
        z-index: 3;
        .userProfile {
            text-align: center;
            margin-top: 65px;
            font-family: $poppins;
            .profileImage {
                width: 197px;
                height: 197px;
                margin: auto;
                border-radius: 50%;
                border: 10px solid #e50019;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                img {
                    max-width: 100%;
                    height: auto;
                }
                > a {
                    position: absolute;
                    top: 0;
                    right: -20px;
                }
            }
            h5 {
                margin-top: 22px;
                font-weight: 500;
                font-size: 28px;
                margin-bottom: 0;
                color: $black;
            }
            p {
                font-size: 23px;
                color: $formTextColor;
                font-weight: 500;
            }
        }

        .TabSection {
            max-width: 950px;
            padding-left: 15px;
            padding-right: 15px;
            margin: auto;
            margin-top: 100px;

            #profilebuttons {
                li {
                    margin-right: 10px;
                    &.searchNav {
                        display: none;
                    }

                    @media screen and (max-width: 877px) {
                        &.searchNav {
                            order: 1;
                            width: 100%;
                            margin-bottom: 2rem;
                        }
                        &:first-child {
                            order: 2;
                        }
                        &:nth-child(2) {
                            order: 3;
                        }
                    }
                    button {
                        font-size: 28px;
                        font-weight: 400;
                        color: $lightPurple;
                        width: 250px;
                        height: 89px;
                        border: 1px solid #cfd6e8;
                        border-radius: 10px 10px 0 0;
                        @media screen and (max-width: 767px) {
                            width: 110px;
                            font-size: 15px;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            padding: 0;
                            justify-content: center;
                            line-height: 30px;
                            svg {
                                margin-right: 0.3rem;
                                width: 20px;
                                height: 20px;
                            }
                        }
                        &.active {
                            background: $buttonGredient;
                            color: #fff;
                            border: 1px solid transparent;
                        }
                        img {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
            #profiletabs {
                border: 1px solid #cfd6e8;
                border-top: 0;
                .profileForm {
                    padding: 33px;
                    h4 {
                        text-transform: capitalize;
                        font-size: 28px;
                        font-weight: 500;
                        color: $lightPurple;
                    }
                    img {
                        width: 162.28px;
                        height: 162.28px;
                        margin-top: 12px;
                    }

                    button {
                        background: $black;
                        color: white;
                        margin-top: 1.8rem;
                        font-size: 1.2rem;
                    }
                }
                .historyTable {
                    width: 100%;
                    th {
                        font-size: 20px;
                        font-weight: 500;
                        color: $lightPurple;
                        @media screen and (max-width: 900px) {
                            font-size: 14px;
                        }
                    }
                    td {
                        font-size: 16px;
                        color: $formTextColor;
                        @media screen and (max-width: 900px) {
                            font-size: 11px;
                        }
                    }
                    td,
                    th {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        vertical-align: middle;
                        &:last-child {
                            padding-right: 30px;
                            @media screen and (max-width: 900px) {
                                min-width: 150px;
                            }
                        }
                        &:first-child {
                            padding-left: 30px;
                            width: 150px;
                        }
                        &:nth-child(2) {
                            max-width: 220px;
                            .d-flex {
                                p {
                                    flex: 1 1 100%;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        &:nth-child(3) {
                            a {
                                margin-left: 20px;
                                img {
                                    width: 26px;
                                    height: 25px;
                                    object-fit: contain;
                                }
                            }
                        }
                        &:nth-child(4),
                        &:nth-child(5) {
                            text-align: center;
                            @media screen and (max-width: 900px) {
                                min-width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
    // footer css
    .bottomMaskImage {
        position: relative;

        .absoluteImgThree {
            position: absolute;
            left: -166px;
            top: -162px;
            z-index: -1;
            @media screen and (max-width: 550px) {
                left: -40vw;
                top: -39vw;
            }

            img {
                @media screen and (max-width: 550px) {
                    height: 71vw;
                }
            }
        }
        @media screen and (max-width: 550px) {
            margin-top: -23vw;
        }
        img {
            object-fit: cover;
            object-position: 70%;
        }
    }

    #qrcode {
        .modal-fullscreen {
            max-width: 800px;
            margin: auto;
            @media only screen and (min-width: 801px) {
                padding: 1.5rem 0;
            }
            @media (min-height: 1700px) {
                .btn-close {
                    font-size: 4rem;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 3;
                }
            }
            .modal-body {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }
            img {
                @media screen and (max-width: 767px) {
                    max-width: 80%;
                }
            }
            h4 {
                font-size: 47px;
                font-weight: 600;
                color: $black;
                margin-top: 8vh;
                @media screen and (max-width: 767px) {
                    font-size: 30px;
                }
            }

            .qrcodeImage {
                width: 385px;
                margin-top: 10vh;
                @media screen and (max-width: 767px) {
                    width: 150px;
                }
            }
        }
    }
}
